/* ----LETRA---- */
@font-face {
    font-family: 'Prompt'; /* Estilo de letra */
    src: url(../fonts/Prompt/Prompt-Medium.ttf); /* Directorio donde se encuentra el archivo del estilo de letra */
}


/*--------------------------------------------------------------
# Todo el archivo
--------------------------------------------------------------*/

/* Selector universal */
* {
    margin: 0%; /*Elimina todo margen que trae por defecto*/
    padding: 0%; /*Elimina todo relleno que trae por defecto*/
    font-family: 'Prompt'; /* Estilo de letra */
}

/* Fondo */
.cielo {
    background: url("../img/Backg/backg7.1.webp") repeat; /* Fondo desde imagen guardada */
    background-size: cover; /* ajusta el tamaño de la imagen de fondo para que cubrir todo el contenedor sin distorsionarla */
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/* Eliminar comportamiento en bloque de nav y la div */
.header-linea {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    justify-content: space-between; /* Distribuye el espacio disponible entre los elementos secundarios de un contenedor flexible */
    align-items: center; /* Alinea verticalmente los elementos secundarios de un contenedor flexible */
}

/* Estilo para el logo */
#logo {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    width: 4vw;  /* Se establece el ancho */
    height: auto; /* Se establece la altura, en este caso automáticamente por el navegador, el elemento se adapta */
    border-radius: 30%;  /* Redondea los vértices del logo, en este caso todos */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(111, 83, 236, 0.8); /* Agrega sombra alrededor */
    margin-left: 10vw; /* Genera un margen izquierdo */
    margin-top: 0.1vw; /* Genera un margen superior */
}

/* Estilo en el encabezado header:*/
header {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    background: linear-gradient(to left, rgba(77, 103, 121, 0.2),rgba(250, 249, 249, 0.4)); /* Degradado de colores del fondo*/
    height: 9vh; /* Se establece la altura */
    font-size: 1.3vw; /* Tamaño de texto */
    text-align:right;  /* Alinear texto */
    border-radius: 0% 0% 5% 5%; /* Redondea los vértices del logo (los extremos ingeriores en este caso) */
    position: fixed; /* Permite mantener siempre en el mismo lugar al header */
    width: 100%; /* Establece el ancho en el 100% del ancho del elemento contenedor */
}

header nav{
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction: row; /* Pone las dos secciones en columnas */
    text-align: center; /* Centra el texto */
}

/* Menu */
.menu {
    text-decoration: none; /* Elimina subrayado */
    color:rgb(137, 33, 153);  /* Color texto */
    padding-right: 0.2vw; /* Separación entre el texto del menu */
    margin-right: 2vw; /* Genera un margen derecho */
    text-shadow: 1px 1px 2px rgba(252, 251, 251, 0.5); /* Crea sombra en los bordes establecidos */
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.contenedor {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction:row; /* Pone las dos secciones en columnas */
    justify-content:space-between; /* Centra las columnas horizontalmente */
    align-items: center; /* Centra las columnas verticalmente */
    text-align: center; /* Centra el texto */
    padding: 0.5vw; /* Crea espacio dentro del elemento (relleno) */
    padding-top: 2vh; /* Establece el espacio de relleno en la parte superior */
}

ul, ol {
    list-style-type: none; /* Elimina el formato predeterminado de la lista */
}

.seccion1 {
    flex-grow: 1; /* Especifica la proporción de espacio disponible que un elemento flexible debe ocupar */
    margin: 0.5vw; /* Genera un margen general en función del tamaño de la ventana gráfica */
}

#menu {
    font-family: 'Saira'; /* Estilo de letra */
    src: url(../fonts/Saira/Saira-Italic-VariableFont_wdth\,wght.ttf); /* Directorio donde se encuentra el archivo del estilo de letra */
    font-weight: bold; /* Negrita */
}

.accion {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    text-decoration: none; /* Elimina el subrayado */
    color:rgb(169, 15, 38);  /* Color del texto */
    padding-right: 0.2vw; /* Separación entre el texto */
    font-weight: bold; /* Negrita */
    font-size: 2vw; /* Tamaño del texo */
    background-color: #e6dfe4; /* Fondo */
    padding: 2vh; /* Establece el espacio de relleno */
    margin-top: 1vh; /* Genera un margen superior en función del tamaño de la ventana gráfica */
    border-radius: 30%; /* Redondea los vértices (todos) */
    box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgba(111, 83, 236, 0.8); /* Agrega sombra alrededor */
}

.accion:hover {
    transform: scale(1.5); /* El texto se agranda un 50% al pasar el cursor */
}

.seccionBuscador {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    justify-content:center; /* Distribuye el espacio entre los elementos secundarios de un contenedor flexible */
    align-items: center; /* Centra las los elementos */
    text-align: center; /* Centra el texto */
    background-color: #49035b; /* Color del fondo */
    height: auto; /* Se establece la altura */
    border-radius: 15%;  /* Redondea dos vértices */
    box-shadow: 0.4vw 0.4vw 0.1vw 0.1vw rgba(127, 108, 209, 0.8); /* Agrega sombra alrededor */
    padding: 1.5vh; /* Establece el espacio de relleno */
    margin-top: 8vh; /* Margen superior */
}

.buscador {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    justify-content:center; /* Distribuye el espacio entre los elementos secundarios de un contenedor flexible */
    align-items: center; /* Centra las los elementos */
    text-align: center; /* Centra el texto */
}

select optgroup[label="------------- Noroeste -------------"] option {
    background-color: #eaf6f1; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="--------------- Cuyo ---------------"] option {
    background-color: #f5f9eb; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="-------------- Litoral --------------"] option {
    background-color: #fdecfa; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="------------ Patagonia ------------"] option {
    background-color: #f6f4fe; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="----- Región Metropolitana -----"] option {
    background-color: #faf2ea; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="-------- Región Pampeana ------"] option {
    background-color: #f9edfd; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="-------------- Sierras --------------"] option {
    background-color: #f0f5e3; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="--------- Extremo austral --------"] option {
    background-color: #fce5e6; /* Genera color de fondo a la sección específica del buscador */
}

#destino {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    font-size: 2vh; /* Tamaño de la letra */
    margin: 1vw; /* Genera un margen en función del tamaño de la ventana gráfica */
    border-radius: 25%;  /* Redondea los vértices (todos) */
    padding: 1vh; /* Establece el espacio de relleno */
    font-style: italic; /* Brinda formato cursiva */
    text-align: center; /* Centra el texto */
}

#origen {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    font-size: 2vh; /* Tamaño de la letra */
    margin: 1vw; /* Genera un margen en función del tamaño de la ventana gráfica */
    border-radius: 25%; /* Redondea los vértices (todos) */
    padding: 1vh; /* Establece el espacio de relleno */
    font-style: italic; /* Brinda formato cursiva */
    text-align: center; /* Centra el texto */
}

#fechasIF {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction: row; /* Pone las dos secciones en columnas */
    margin: 2vw; /* Genera un margen general en función del tamaño de la ventana gráfica */
}

#fechaInicio {
    margin-right: 2vw; /* Genera un margen derecho en función del tamaño de la ventana gráfica */
    text-align: center; /* Centra el texto */
}

#fechaFin {
    margin-right: 2vw; /* Genera un margen derecho en función del tamaño de la ventana gráfica */
    text-align: center; /* Centra el texto */
}

#buscar {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    font-size: 3vh; /* Tamaño de la letra */
    margin-right: 2vw; /* Genera un margen derecho en función del tamaño de la ventana gráfica */
    border-radius: 20%; /* Redondea los vértices (todos) */
    padding: 1.2vh; /* Establece el espacio de relleno */
    background-color: rgb(68, 4, 128); /* Genera el color de fondo */
    color: antiquewhite; /* Color del texto */
    font-weight: bold; /* Negrita */
    border-color: aliceblue; /* Color del borde */
    border-width: 0.8vh; /* Grosor del borde */
    cursor: pointer; /* La forma que adquiere el cursor al pasar sobre el elemento */
}
  
.recuadro {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    position: fixed; /* Fija la posición */
    top: 50%; /* Establece la posición vertical de un elemento en relación con su contenedor */
    left: 50%; /* Establece la posición horizontal de un elemento en relación con su contenedor */
    transform: translate(-50%, -50%); /* Permite colocar el elemento en el centro horizontal y vertical del contenedor */
    width: 600px; /* Establece un ancho fijo */
    height: 400px; /* Establece un alto fijo */
    background-color: #49035b; /* Color del fondo */
    z-index: 100; /* Permite que los elementos se superpongan y se muestren en un orden específico */
    display: none; /* Oculta */
    text-align: center; /* Texto en el centro */
    border-radius: 20%; /* Redondea los vértices (todos) */
    border-style: double dashed; /* Le genera un estilo particular a los vértices (todos) */
    border-color: rgb(165, 9, 168); /* Color del borde */
    border-width: 0.35vw; /* Ancho del borde */
    margin-top: 7vh; /* Margen superior */
}

.recuadro ul {
    position: absolute; /* Posiciona al elemento de manera absoluta, en la posición que se especifique */
    top: 50%; /* Establece la posición vertical de un elemento en relación con su contenedor */
    left: 50%; /* Establece la posición horizontal de un elemento en relación con su contenedor */
    transform: translate(-50%, -50%); /* Permite colocar el elemento en el centro horizontal y vertical del contenedor */
    text-align: center; /* Alinea el texto en el centro */
    width: 100%; /* Establece el ancho en el 100% del ancho del elemento contenedor */
    font-size: 20px; /* Tamaño de la fuente */
    letter-spacing: 0.25vh; /* Espaciado entre las letras */
    line-height: 3; /* Interlineado */
}

.seccionRegiones {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 7vw; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    margin-top: 2vh; /* Margen superior */
    margin-bottom: 2.5vh; /* Margen inferior */
}

.cuyo-litoral
.noroeste-regionPampeana
.sierras-regionMetropolitana
.patagonia-extremoAustral {
    flex-basis: 20%; /* Establece el tamaño inicial de un elemento flexible en un 20% del tamaño del contenedor  */
    margin: 2vw; /* Margen */
    background-color: black; /* Color de fondo */
    align-items: center; /* Centra las los elementos */
}

.cuyo-litoral {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 25vh; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    padding: 3vh; /* Establece el espacio de relleno */
    font-weight: bold; /* Negrita */
}

.noroeste-regionPampeana {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 25vh; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    padding: 3vh; /* Establece el espacio de relleno */
}

.sierras-regionMetropolitana {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 25vh; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    padding: 3vh; /* Establece el espacio de relleno */
}

.patagonia-extremoAustral {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 25vh; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    padding: 3vh; /* Establece el espacio de relleno */
}


/* FORMULARIO */

.contacto-prueba{
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 20vh; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    padding: 10vh; /* Establece el espacio de relleno */
}

.destinos{
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
    align-items: center; /* Centra las los elementos */
    gap: 20vh; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
    padding: 10vh; /* Establece el espacio de relleno */

}

.contenedor-suscripcion{
    align-items: center; /* Centra las los elementos */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor */
    position: absolute; /* Posiciona al elemento de manera absoluta, en la posición que se especifique */
    top: 30%; /* Establece la posición vertical de un elemento en relación con su contenedor */
    left: 30%; /* Establece la posición horizontal de un elemento en relación con su contenedor */
}

.suscripcion{
    padding-top: 30vh; /* Establece el espacio de relleno en la parte superior */
    padding-right: 40vw; /* Establece el espacio de relleno en la parte derecha */
    padding-bottom: 2vh; /* Establece el espacio de relleno en la parte inferior */
    text-align: center; /* Centra el texto */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor */
    align-items: center; /* Centra las los elementos */
} 


/* EMPRESA */

#quienes-somos {
    max-width: 600vh; /* Establece el ancho máximo de un elemento */
    margin: 0 auto; /* Centra horizontalmente el elemento dentro de su contenedor */
    padding: 13vh; /* Establece el espacio de relleno */
    text-align: center;  /* Centra el texto */
}

#quienes-somos h1 {
    padding-top: 7vh; /* Establece el espacio de relleno en la parte superior */
}

#quienes-somos p {
    font-size: 1.4vw; /* Tamaño de la fuente */
    color:#030303; /* Color de la fuente */
    line-height: 2; /* Establece la altura de línea de un elemento al doble del tamaño de fuente  */
}

#ofrecemos {
    font-size: 1.4vw; /* Tamaño de la fuente */
    color: #49035b; /* Color de la fuente */
    padding-right: 30vh; /* Establece el espacio de relleno en la parte derecha */
    padding-left: 30vh; /* Establece el espacio de relleno en la parte izquierda */
    text-align: justify; /* Justifica el texto */
}

#eleginos {
    padding-top: 5vh; /* Establece el espacio de relleno en la parte superior */
}

#ubicacion{
    display: flex;
    flex-direction:column; /* Pone las dos secciones en columnas */
    align-items: center; /* Centra las columnas verticalmente */
    text-align: center; /* Centra el texto */
    padding: 1vw; /* Crea espacio dentro del elemento (relleno) */
    margin-top: 10vh; /* Establece margen superior */
}

#titulo-ubicacion{
    display: flex;
    justify-content: center; 
    margin-bottom: 2vh;
}

#ultimo-parrafo{
    font-size: 1.4vw; /* Tamaño de la fuente */
    font-style: italic; /* Estilo de la fuente (cursiva) */
    padding: 10vh; /* Establece el espacio de relleno */
    text-align: center; /* Texto alineado al centro */
    justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor */
    align-items: center; /* Centra las los elementos */
 }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer{
    background-color: rgba(0,0,0,0.5);
    height: 8.8vh; /*Altura*/
    text-align: center; /* Centra el texto */
    color: aliceblue; /*Color del texto*/
    width: 100%; /* Establece el ancho en el 100% del ancho del elemento contenedor */
}

a {
    text-decoration: none; /* Elimina la decoración de texto predeterminada  */
    outline: none; /* Elimina el contorno que se ubica fuera de los límites del borde de un elemento  */
    color: aliceblue; /*Color del texto*/
}


/*--------------------------------------------------------------
# Puntos de corte (Breakpoints)
--------------------------------------------------------------*/

/* Para dispositivos con ancho menor a 640px */
@media screen and (max-width: 640px) {

    .header-linea {
        flex-direction: column;  /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
        align-items: normal; /* La altura de cada elemento se estirará para llenar la altura del contenedor  */
        text-align: center; /* Centra el texto */
        position: absolute; /* Posiciona al elemento de manera absoluta, en la posición que se especifique */
        padding: 0px 20px; /* Establece el espacio de relleno */
    }

    #logo {
        width: 10vw; /* Establece el ancho del elemento contenedor */
        height: auto; /* Establece la altura de un elemento de manera automática */
        margin-left: 43vw; /* Establece el margen izquierdo */
    }
           

    header {
        flex-direction: row; /* Pone las dos secciones en columnas */
        text-align: center; /* Centra el texto */
        height: auto; /* Establece la altura de un elemento de manera automática */
    }
    
    header nav{
        display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
        flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
        text-align: center; /* Centra el texto */
        padding-bottom: 4vh; /* Relleno inferior */
    }
     
    .contenedor{
        flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
        padding-top: 10vh; /* Establece el espacio de relleno en la parte superior */
    }

    #principal{
        display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
        flex-direction: column;  /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    }

    .menu {
        margin-right: 5vw; /* Margen derecho */
        font-size: 3vh; /* Tamaño de la fuente */
    }

    .seccionBuscador {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para dispositivos móviles */
        padding: 1vh; /* Ajusta el padding para dispositivos móviles */
        margin-top: 20vh; /* Margen superior */
    }

    .seccionRegiones{
        flex-direction: row; /* Pone las dos secciones en columnas */
        justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor */
        align-items: center; /* Centra las los elementos */
        gap: 6.5vw; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
        margin-top: 10vh; /* Margen superior */
        margin-bottom: 10vh; /* Margen inferior */
    }
    
    .buscador {
        flex-direction: row; /* Pone las dos secciones en columnas */
    }

    #buscar{
        margin-left: 35vw; /*centra el boton buscar*/
    }

    #destino {
        margin-left: 10vw; /* Margen izquierdo */
     }
     
     #origen {
         margin-left: 10vw; /* Margen izquierdo */
     }
     
     #fechasIF {
        margin-left: 10vw; /* Margen izquierdo */
    }
    
    #fechaInicio {
        margin-left: 5vw; /* Margen izquierdo */
    }
    
    #fechaFin {
        margin-left: 5vw;  /* Margen izquierdo */
    }

    footer{
        padding: 0px 20px; /* Establece el espacio de relleno */
    }

    .buscador {
        flex-direction: row; /* Pone las dos secciones en columnas */
    }

    #buscar{
        margin-left: 40vw; /* Margen izquierdo */    
    }

    .contacto-prueba{
        padding-top: 20vh; /* Establece el espacio de relleno en la parte superior */
    }

   
    /* EMPRESA */
    #quienes-somos {
        padding-top: 25vh; /* Establece el espacio de relleno en la parte superior */
    }
    
    #quienes-somos h1 {
        padding-top: 7vh; /* Establece el espacio de relleno en la parte superior */
    }
    
    #quienes-somos p {
        font-size: 4vw; /* Tamaño de la fuente */
        color:#030303; /* Color de la fuente */
        line-height: 2; /* Establece la altura de línea de un elemento al doble del tamaño de fuente  */
    }
      
    #ofrecemos, #ultimo-parrafo {
        padding: 20px; /* Agrega un poco de espacio alrededor del contenido para mejorar la legibilidad en pantallas pequeñas */
    }

    h1, h2 {
        font-size: 1.5rem; /* Reduce el tamaño de fuente de los títulos */
    }

    p, li {
        font-size: 1rem; /* Reduce el tamaño de fuente del texto */
    }   
}


/* Para dispositivos con ancho menor a 1280px */
@media screen and (min-width: 640px) and (max-width: 1280px) {
    
    .header-linea {
        flex-direction: row; /* Pone las dos secciones en columnas */
        align-items: center; /* Centra las los elementos */
        justify-content: space-between; /* Distribuye el espacio disponible entre los elementos secundarios de un contenedor flexible */
        text-align: center; /* Centra el texto */
        position: absolute; /* Posiciona al elemento de manera absoluta, en la posición que se especifique */
        margin: 0 auto; /* Centra horizontalmente el elemento dentro de su contenedor */
        padding: 10px 20px; /* Establece el espacio de relleno */
    }
      
    #logo {
        width: 100px;  /* Establece el ancho en el 100% del ancho del elemento contenedor */
        height: auto; /* Establece la altura de un elemento de manera automática */        
    }
    

    header {
        flex-direction: row; /* Pone las dos secciones en columnas */
        text-align: center; /* Centra el texto */
        height: auto; /* Establece la altura de un elemento de manera automática */    
    }
    
    header nav {
        display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
        flex-direction: row; /* Pone las dos secciones en columnas */
        text-align: center; /* Centra el texto */
        padding-bottom: 1vh;  /* Establece el espacio de relleno en la parte inferior */      
    }
       
    .menu {
        font-size: 16px; /* Tamaño de la fuente */
        margin-right: 20px; /* Margen derecho */
        }
         
    .contenedor{
        flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
        justify-content: space-between; /* Distribuye el espacio disponible entre los elementos secundarios de un contenedor flexible */   
    }
    
    #logo {
        width: 10vw; /* Establece el ancho del elemento contenedor */
        height: auto; /* Establece la altura de un elemento de manera automática */
        margin-top: 1vh; /* Margen superior */
        margin-left: 1vw; /* Margen izquierdo */
    }

    .menu {
        margin-right: 5vw; /* Margen derecho */
        font-size: 5vh; /* Tamaño de la fuente */
    }

    .seccionBuscador {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para dispositivos móviles */
        padding: 1vh; /* Ajusta el padding para dispositivos móviles */
        margin-top: 13vh; /* Margen superior */
    }

   .seccionRegiones{
        display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
        flex-wrap: wrap; /* Permite que los elementos fluyan en varias líneas según sea necesario */
        justify-content: center; /* Permite que los elementos se alineen en el centro del contenedor flexible */
        align-items: center; /* Centra las los elementos */
        gap: 6.5vw; /* Especifica el espacio entre las filas y columnas de una cuadrícula */
        margin-top: 2.5vh; /* Margen superior */
        margin-bottom: 2.5vh; /* Margen inferior */
    }
    
    .buscador {
        flex-direction: row; /* Pone las dos secciones en columnas */
    }

    #buscar{
        margin-left: 35vw; /* Margen izquierdo */
    }

    #destino {
       margin-left: 15vw; /* Margen izquierdo */
    }
    
    #origen {
        margin-left: 15vw; /* Margen izquierdo */
    }
    
    #fechasIF {
        margin-left: 15vw; /* Margen izquierdo */
    }
    
    #fechaInicio {
        margin-left: 5vw; /* Margen izquierdo */   
    }
    
    #fechaFin {
        margin-left: 5vw; /* Margen izquierdo */   
    }

    footer{
        padding: 0px 20px; /* Establece el espacio de relleno */
    }

    .contacto-prueba{
        padding-top: 15vh; /* Establece el espacio de relleno en la parte superior */
    }


    /* EMPRESA */
    #quienes-somos {
        padding-top: 20vh; /* Establece el espacio de relleno en la parte superior */
    }
    
    #quienes-somos h1 {
        padding-top: 1vh; /* Establece el espacio de relleno en la parte superior */
    }
    
    #quienes-somos p {
        font-size: 2vw; /* Tamaño de la fuente */
        line-height: 2; /* Establece la altura de línea de un elemento al doble del tamaño de fuente  */
    }

    #ofrecemos, #ultimo-parrafo {
        padding: 20px; /* Agrega un poco de espacio alrededor del contenido para mejorar la legibilidad en pantallas pequeñas */
    }

    h1, h2 {
        font-size: 4vw /* Reduce el tamaño de fuente de los títulos */
    }

    p, li {
        font-size: 2vw; /* Reduce el tamaño de fuente del texto */
    } 
}