/* ----LETRA---- */
@font-face {
    font-family: 'Prompt'; /* Estilo de letra */
    src: url(../fonts/Prompt/Prompt-Medium.ttf); /* Directorio donde se encuentra el archivo del estilo de letra */
}


/*--------------------------------------------------------------
# Todo el archivo
--------------------------------------------------------------*/

/* Selector universal */
* {
    margin: 0%; /*Elimina todo margen que trae por defecto*/
    padding: 0%; /*Elimina todo relleno que trae por defecto*/
    font-family: 'Prompt';
}

/* Fondo */
.cielo {
    background: url("../img/Backg/backg7.1.webp") repeat; /* Fondo desde imagen guardada */
    background-size: cover; /* ajusta el tamaño de la imagen de fondo para que cubrir todo el contenedor sin distorsionarla */
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/* Eliminar comportamiento en bloque de nav y la div */
.header-linea {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    justify-content: space-between; /* Distribuye el espacio disponible entre los elementos secundarios de un contenedor flexible */
    align-items: center; /* Alinea verticalmente los elementos secundarios de un contenedor flexible */
}

/* Estilo para el logo */
#logo {
    width: 4vw;  /* Se establece el ancho */
    height: auto; /* Se establece la altura, en este caso automáticamente por el navegador, el elemento se adapta */
    border-radius: 30% 30% 30% 30%;  /* Redondea los vértices del logo, en este caso todos */
    box-shadow: 0.1vw 0.1vw 0.1vw 0.1vw rgba(111, 83, 236, 0.8); /* Agrega sombra alrededor */
    margin-left: 10vw; /* Genera un margen izquierdo */
    margin-top: 0.5vw; /* Genera un margen superior */
}

/* Estilo en el encabezado header:*/
header {
    background: linear-gradient(to left, rgba(77, 103, 121, 0.2),rgba(250, 249, 249, 0.4)); /* Degradado de colores del fondo*/
    height: 9vh; /* Se establece la altura */
    font-size: 1.3vw; /* Tamaño de texto */
    text-align:right;  /* Alinear texto */
    border-radius: 0% 0% 5% 5%; /* Redondea los vértices del logo (los extremos ingeriores en este caso) */
    position: fixed; /* Permite mantener siempre en el mismo lugar al header */
    width: 100%; /* Establece el ancho en el 100% del ancho del elemento contenedor */
}

/* Menu */
.menu {
    text-decoration: none; /* Elimina subrayado */
    color:rgb(137, 33, 153);  /* Color texto */
    padding-right: 0.2vw; /* Separación entre el texto del menu */
    margin-right: 2vw; /* Genera un margen derecho */
    text-shadow: 1px 1px 2px rgba(252, 251, 251, 0.5); /* Crea sombra en los bordes establecidos */
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.contenedor {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction:row; /* Pone las dos secciones en columnas */
    justify-content:space-between; /* Centra las columnas horizontalmente */
    align-items: center; /* Centra las columnas verticalmente */
    text-align: center; /* Centra el texto */
    padding: 1vw; /* Crea espacio dentro del elemento (relleno) */
    padding-top: 2.5vh; /* Establece el espacio de relleno en la parte superior */
}

ul, ol {
    list-style-type: none; /* Elimina el formato predeterminado de la lista */
}

.seccion1 {
    flex-grow: 1; /* Especifica la proporción de espacio disponible que un elemento flexible debe ocupar */
    margin: 3.5vw; /* Genera un margen general en función del tamaño de la ventana gráfica */
}

#menu {
    font-family: 'Saira'; /* Estilo de letra */
    src: url(../fonts/Saira/Saira-Italic-VariableFont_wdth\,wght.ttf); /* Directorio donde se encuentra el archivo del estilo de letra */
    font-weight: bold; /* Negrita */
}

.accion {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction: column; /* Los elementos secundarios se colocan en una columna vertical, de arriba hacia abajo */
    text-decoration: none; /* Elimina el subrayado */
    color:rgb(169, 15, 38);  /* Color del texto */
    padding-right: 0.2vw; /* Separación entre el texto */
    font-weight: bold; /* Negrita */
    font-size: 2vw; /* Tamaño del texo */
    background-color: #e6dfe4; /* Fondo */
    padding: 2vh; /* Establece el espacio de relleno */
    margin-top: 1vh; /* Genera un margen superior en función del tamaño de la ventana gráfica */
    border-radius: 30%; /* Redondea los vértices (todos) */
    box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgba(111, 83, 236, 0.8); /* Agrega sombra alrededor */
}

.accion:hover {
    transform: scale(1.5); /* El texto se agranda un 50% al pasar el cursor */
}

.seccionBuscador {
    display: flex;
    background-color: #49035b; /* Color del fondo */
    height: auto; /* Se establece la altura */
    border-radius: 15%;  /* Redondea dos vértices */
    box-shadow: 0.4vw 0.4vw 0.1vw 0.1vw rgba(127, 108, 209, 0.8); /* Agrega sombra alrededor */
    padding: 1.5vh; /* Establece el espacio de relleno */
}

.buscador {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-wrap: wrap;
    justify-content:space-between; /* Distribuye el espacio entre los elementos secundarios de un contenedor flexible */
    align-items: center; /* Centra las los elementos */
    text-align: center; /* Centra el texto */
}

select optgroup[label="------------- Noroeste -------------"] option {
    background-color: #eaf6f1; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="--------------- Cuyo ---------------"] option {
    background-color: #f5f9eb; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="-------------- Litoral --------------"] option {
    background-color: #fdecfa; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="------------ Patagonia ------------"] option {
    background-color: #f6f4fe; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="----- Región Metropolitana -----"] option {
    background-color: #faf2ea; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="-------- Región Pampeana ------"] option {
    background-color: #f9edfd; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="-------------- Sierras --------------"] option {
    background-color: #f0f5e3; /* Genera color de fondo a la sección específica del buscador */
}

select optgroup[label="--------- Extremo austral --------"] option {
    background-color: #fce5e6; /* Genera color de fondo a la sección específica del buscador */
}

#destino {
    font-size: 2vh; /* Tamaño de la letra */
    margin: 1vw; /* Genera un margen en función del tamaño de la ventana gráfica */
    border-radius: 25%;  /* Redondea los vértices (todos) */
    padding: 1vh; /* Establece el espacio de relleno */
    font-style: italic; /* Brinda formato cursiva */
    text-align: center; /* Centra el texto */
}

#origen {
    font-size: 2vh; /* Tamaño de la letra */
    margin: 1vw; /* Genera un margen en función del tamaño de la ventana gráfica */
    border-radius: 25%; /* Redondea los vértices (todos) */
    padding: 1vh; /* Establece el espacio de relleno */
    font-style: italic; /* Brinda formato cursiva */
    text-align: center; /* Centra el texto */
}

#fechasIF {
    display: flex; /* Propiedad que permite que los elementos secundarios se ajusten automáticamente al ancho del contenedor */
    flex-direction: row; /* Pone las dos secciones en columnas */
    margin: 2vw; /* Genera un margen general en función del tamaño de la ventana gráfica */
}

#fechaInicio {
    margin-right: 2vw; /* Genera un margen derecho en función del tamaño de la ventana gráfica */
    text-align: center; /* Centra el texto */
}

#fechaFin {
    margin-right: 2vw; /* Genera un margen derecho en función del tamaño de la ventana gráfica */
    text-align: center; /* Centra el texto */
}

#buscar {
    font-size: 3vh; /* Tamaño de la letra */
    margin-right: 2vw; /* Genera un margen derecho en función del tamaño de la ventana gráfica */
    border-radius: 20%; /* Redondea los vértices (todos) */
    padding: 1.2vh; /* Establece el espacio de relleno */
    background-color: rgb(68, 4, 128); /* Genera el color de fondo */
    color: antiquewhite; /* Color del texto */
    font-weight: bold; /* Negrita */
    border-color: aliceblue; /* Color del borde */
    border-width: 0.8vh; /* Grosor del borde */
    cursor: pointer; /* La forma que adquiere el cursor al pasar sobre el elemento */
}
  
.recuadro {
    position: fixed; /* Fija la posición */
    top: 50%; /* Establece la posición vertical de un elemento en relación con su contenedor */
    left: 50%; /* Establece la posición horizontal de un elemento en relación con su contenedor */
    transform: translate(-50%, -50%); /* Permite colocar el elemento en el centro horizontal y vertical del contenedor */
    width: 600px; /* Establece un ancho fijo */
    height: 400px; /* Establece un alto fijo */
    background-color: #49035b; /* Color del fondo */
    z-index: 100; /* Permite que los elementos se superpongan y se muestren en un orden específico */
    display: none; /* Oculta */
    text-align: center; /* Texto en el centro */
    border-radius: 20%; /* Redondea los vértices (todos) */
    border-style: double dashed; /* Le genera un estilo particular a los vértices (todos) */
    border-color: rgb(165, 9, 168); /* Color del borde */
    border-width: 0.35vw; /* Ancho del borde */
    margin-top: 7vh; /* Margen superior */
}

.recuadro ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 20px;
    letter-spacing: 0.25vh;
    line-height: 3;
}

.seccionRegiones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6.5vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.cuyo-litoral
.noroeste-regionPampeana
.sierras-regionMetropolitana
.patagonia-extremoAustral {
    flex-basis: 20%;
    margin: 2vw;
    background-color: black;
    align-items: center;
}

.cuyo-litoral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17vh;
    padding: 3vh;
}

.noroeste-regionPampeana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17vh;
    padding: 3vh;
}

.sierras-regionMetropolitana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17vh;
    padding: 3vh;
}

.patagonia-extremoAustral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 17vh;
    padding: 3vh;
}


/* FORMULARIO */

.contacto-prueba{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20vh;
    padding: 10vh;
}

.destinos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20vh;
    padding: 10vh;

}

.contenedor-suscripcion{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 30%;
}

.suscripcion{
    padding-top: 30vh;
    padding-right: 40vw;
    padding-bottom: 2vh;
    text-align: center;
    justify-content: center;
    align-items: center;
} 


/* EMPRESA */

#quienes-somos {
    max-width: 600vh;
    margin: 0 auto;
    padding: 13vh;
    text-align: center;  
}

#quienes-somos h1 {
    padding-top: 7vh;
}

#quienes-somos p {
    font-size: 1.4vw;
    color:#030303;
    line-height: 2;
}

#ofrecemos {
    font-size: 1.4vw;
    color: #49035b;
    padding-right: 30vh;
    padding-left: 30vh;
    text-align: justify;
}

#eleginos {
    padding-top: 5vh;
}

#ultimo-parrafo{
    font-size: 1.4vw;
    font-style: italic;
    padding: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
 }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer{
    background-color: rgba(0,0,0,0.5);
    height: 8.8vh; /*Altura*/
    text-align: center; /*Alinear texto*/
    color: aliceblue; /*Color del texto*/
    width: 100%; /* Establece el ancho en el 100% del ancho del elemento contenedor */
}

a {
    text-decoration: none;
    outline: none;
    color: aliceblue; /*Color del texto*/
}


/*--------------------------------------------------------------
# Puntos de corte (Breakpoints)
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    .contenedor{
        padding: 5vh;
    }
    #logo {
        width: 6.5vw;
    }

    .menu {
        margin-right: 5vw;
        font-size: 3vh;
    }
}

@media screen and (max-width: 480px) {
    .contenedor{
        padding: 7vh;
    }
    #logo {
        width: 12vw;
    }

    .menu {
        margin-right: 7vw;
        font-size: 2vh;
    }
}
