<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Nueva carpeta/ikimasu2.ico" type="image/x-icon">
    <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- Links del sitio  fonts.googleapis.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap" rel="stylesheet">
    <title>Ikimasu</title>
</head>

<body class="cielo">

    <!-- Encabezado -->
    <header class="header-linea">
        <div>
            <a href="../index.html"><img id="logo" src="../img/Nueva carpeta/ikimasu2.ico" alt=""></a>
        </div>
        <!-- Menú de navegación -->
        <nav>
            <a class="menu" href="../index.html">Principal</a>
            <a class="menu" href="empresa.html">Empresa</a>
            <a class="menu" href="contacto.html">Contacto</a>
            <a class="menu" href="suscripcion.html">Suscripción</a>
        </nav>
    </header>


    <!-- Contenido Principal // MAIN -->
    <main>

        <div id="quienes-somos">
            <h1>Quiénes Somos</h1>
            <p>Bienvenidos a <strong>Ikimasu</strong>, tu compañero de confianza para explorar las maravillas de Argentina.</p> 
            <p>En <strong>Ikimasu</strong>, creemos en la magia de los viajes y en la importancia de descubrir la riqueza cultural y natural de cada región. Somos apasionados por ayudarte a crear experiencias de viaje inolvidables, mientras exploras las diversas maravillas que nuestro país tiene para ofrecer.</p>
        
            <h1>Nuestra Misión</h1>
            <p>Nuestra misión es facilitar tu viaje a través de las distintas provincias de Argentina. </p>
            <p>Nos esforzamos por ofrecerte itinerarios personalizados, alojamientos cómodos y actividades emocionantes que se adaptan a tus intereses y presupuesto. Queremos que cada viaje sea una aventura única y auténtica, lleno de momentos que atesores para toda la vida.</p>
        </div>
        
        <div id="ofrecemos">
            <h2>Lo que Ofrecemos</h2>
            <ul>
                <li><strong>Descubre las Regiones de Argentina:</strong> En <strong>Ikimasu</strong>, nos especializamos en las diversas regiones de Argentina. Desde la majestuosidad de los Andes en Mendoza hasta las impresionantes Cataratas del Iguazú en Misiones, te llevaremos a lugares que te dejarán sin aliento. Conocemos cada rincón de este hermoso país y estamos encantados de compartir nuestros conocimientos contigo.</li>
                
                <li><strong>Explora la Gastronomía Local:</strong> ¿Eres un entusiasta de la comida? También te ayudamos a explorar la rica diversidad culinaria de Argentina. Utiliza nuestra función de búsqueda de restaurantes para descubrir los sabores auténticos de cada provincia. Desde parrillas tradicionales en Buenos Aires hasta acogedoras bodegas en Salta, te conectaremos con los mejores lugares para satisfacer tu paladar.</li>
            </ul>
        
            <h2 id="eleginos">Por Qué Elegirnos</h2>
            <ul>
                <li><strong>Experiencia Local:</strong> Contamos con un equipo de expertos locales que conocen profundamente cada región y sus secretos mejor guardados.</li>
                <li><strong>Atención Personalizada:</strong> Nos comprometemos a ofrecerte un servicio personalizado desde el momento en que nos contactas hasta que regresas a casa.</li>
                <li><strong>Conexiones Exclusivas:</strong> Gracias a nuestras asociaciones, te brindamos acceso a experiencias exclusivas y actividades fuera de lo común.</li>
                <li><strong>Pasión por los Viajes:</strong> Somos viajeros apasionados que entendemos la emoción de descubrir nuevos lugares y culturas. Compartimos esa pasión contigo.</li>
            </ul>
        </div>
            
        
        <div id="ultimo-parrafo">
            <p>En <strong>Ikimasu</strong>, no solo planificamos viajes; creamos recuerdos que duran toda la vida.</p>
            <p>Únete a nosotros en esta emocionante aventura por las regiones y las maravillas de Argentina.</p>
            <p>¡Tu viaje perfecto comienza aquí!</p>
        </div>

    </main>
    
</body>
</html>