<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Nueva carpeta/ikimasu2.ico" type="image/x-icon">
    <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
    <link rel="stylesheet" href="../css/ingreso.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- Links del sitio  fonts.googleapis.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    
    <title>Ikimasu</title>
</head>

<body class="cielo">

    <!-- Encabezado -->
    <header class="header-linea">
        <div>
            <a href="../index.html"><img id="logo" src="../img/Nueva carpeta/ikimasu2.ico" alt=""></a>
        </div>
        <!-- Menú de navegación -->
        <nav>
            <a class="menu" href="../index.html">Principal</a>
            <a class="menu" href="empresa.html">Empresa</a>
            <a class="menu" href="contacto.html">Contacto</a>
            <a class="menu" href="suscripcion.html">Suscripción</a>
        </nav>
    </header>


    <!-- Contenido Principal // MAIN -->
    <main>

        <section>
            <div class="container-form">

                <form action="">

                    <form>
                        <label for="username">Nombre de usuario:</label>
                        <input type="text" id="username" name="username"><br><br>
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="password"><br><br>
                        <input type="button" value="Iniciar sesión" onclick="validar()">
                      </form>

                    </div>
                        
                </form>

            </div>
        </section>

    </main>
    
    <!-- Templete de JavaScript -->
    <script src="../js/ingreso.js"></script>

</body>
</html>