<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Nueva carpeta/ikimasu2.ico" type="image/x-icon">
    <!-- RELACIONAR HTML CON SU ARCHIVO DE ESTILO -->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- Links del sitio  fonts.googleapis.com -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap" rel="stylesheet">
    <title>Ikimasu</title>
</head>

<body class="cielo">

    <!-- Encabezado -->
    <header class="header-linea">
        <div>
            <a href="../index.html"><img id="logo" src="../img/Nueva carpeta/ikimasu2.ico" alt=""></a>
        </div>
        <!-- Menú de navegación -->
        <nav>
            <a class="menu" href="../index.html">Principal</a>
            <a class="menu" href="empresa.html">Empresa</a>
            <a class="menu" href="contacto.html">Contacto</a>
            <a class="menu" href="suscripcion.html">Suscripción</a>
        </nav>
    </header>


    <!-- Contenido Principal // MAIN -->
    <main>

        <main class="destinos">
            <div class="contenedor-suscripcion">
        
                <div id="info-destino" class="info-destino">
        
                    <h1>Buscador de Restaurantes</h1>
        
                    <form id="search-form">
                    <label for="location-input">Ingrese una región:</label>
                    <input type="text" id="location-input" required>
                    <button type="submit">Buscar</button>
                    </form>
                
                <div id="results"></div>
                </div>

                <div class="suscripcion">
                    <h3>¡No te pierdas ninguna oferta!</h4>
                    <p>Recibí directamente en tu bandeja de entrada las últimas ofertas y promociones. Disfrutá de lo mejor que tenemos para vos.</p>
                    <form action="https://formspree.io/f/xnqkleyw" method="post">
                    <input type="email" name="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" placeholder="Dirección de email" data-message="¡El correo se envió correctamente!"><input type="submit" value="Suscríbete">
                    </form>
                </div>

            </div>
            
    </main>
    
    <script src="../js/api2.js"></script>
</body>
</html>