<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_viaje.css">
    <link rel="stylesheet" href="../css/index.css">
    <title>Editar</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <section>

            <div class="container-form">
                <form>
                   
                    <div>
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" disabled>
                    </div>
                    <div class="form1">
                        <div>
                            <label for="destino">Destino:</label>
                            <input type="text" name="destino" id="destino">
                        </div>
    
                        <div>
                            <label for="origen">Origen:</label>
                            <input type="text" name="origen" id="origen">
                        </div>
                    </div>
                    
                    <div class="form2">
                        <div class="entrada">
                            <label for="costo">Costo:</label>
                            <input type="number" name="costo" id="costo">
                        </div>
    
                        <div class="entrada">
                            <label for="dias">Días:</label>
                            <input type="number" name="dias" id="dias">
                        </div>
                    </div>

                    
                    <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                </form>
          
          
              </div>

        </section>
    </main>

    
    <footer></footer>

    <script src="../js/editar_viaje.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/datos_editar.js"></script>
</body>
</html>